**/build_*
**/build
**/.build
.vscode/
guest/interrupts
guest/guest.elf
guest/musl/musl
guest/musl/glibc
guest/musl/simple
guest/glibc/glibc
guest/glibc/float
guest/go/go

guest/tests/glibc_test
guest/tests/musl_test
guest/tests/cxx_test
guest/mini/mini.o
guest/mini/mini

crash-*
